* {
	margin: 0;
	padding: 0;
}
@font-face {
	font-family: Apercu;
	src: url(font/Apercu/apercu_light-webfont.ttf);
}
body {
	width: 1350px;
	font-family: sans-serif;
	 margin: 0 auto;
  position: relative;
}

.header-bg{
	height: 660px;
	width: auto;
	background: url("image/image_header.jpg");
	background-size: cover;
	color: #fff;
	padding: 2vh;
}

.logo, .button_nav {
	margin: 3px ;
	float: left;
}
.logo_text {
	padding: 20px 0px 0px 5px;
	float: left;
	font-weight: normal;
	font-family: Apercu; 
}
header nav ul {
	float: left;
	margin: 10px;
}
li {
	list-style: none;
	display: inline-block;
	padding: 15px;
	font-family: Apercu;
}
header nav {
	float: left;
}
.logotype {
	width: 200px;
	margin: auto;
	position: absolute;
	left: 60px;
	top: 30px;
}
.nav {
	margin: auto;
	position: absolute;
	right: 60px;
	top: 30px;
	float: left;
}
.button_nav {
	border: 0.99px solid #fff;
	border-radius: 3px;
	background: none;
	padding: 10px 20px;
	margin: 10px;
	text-decoration: none;
	color: #fff;
	font-family: Apercu;
}
.title_input {
	font-size: 50px;
	margin: 20px;	
	font-weight: normal;
	font-family: Apercu;
}
.title_input_footer {
	font-size: 35px;
	margin: 20px;	
	font-weight: normal;
	font-family: Apercu;
}
.text_input {
	font-size: 17px;
	margin: 20px;
}
h1 {
	font-size: 30px;
	font-weight: normal;
	font-family: Apercu;
}
.mail_input {
	width: 325px;
	height: 23px;
	border-radius: 3px 0px 0px 3px;
	border: none;
	padding: 26.5px;
}
.input_mail {
	max-width: 460px;
	position: absolute;
    top: 250px;
    left: 480px;
    text-align: center;
    display: inline-block;
}
.header_button {
	min-width: 100px;
	height: 53px;
	border-radius: 0px 3px 3px 0px;
    background: #6782c2;
    padding: 17px 15px;
	float: right;
    text-align: center;
    text-decoration: none;
	color: #fff;
}
.footer_button {
	min-width: 100px;
	height: 53px;
	border-radius: 0px 3px 3px 0px;
    background: #3ecacb;
    padding: 17px 15px;
	float: right;
    text-align: center;
    text-decoration: none;
	color: #fff;
}
.button_arrow {
	position: absolute;
    top: 550px;
    left: 660px;
}
.title {
	text-align: center;
	padding: 80px 0px 40px;
	font-weight: normal;
	font-family: Apercu;
}
.title_gallery {
	text-align: center;
	padding: 30px 0px 40px;
	font-weight: normal;
	font-family: Apercu;
}
.block_two{
	height: 590px;
	width: auto;
	background: url("image/image_main.jpg");
	background-size: cover;
	color: #fff;
}
.logo_text{
	float: left;
	padding: 20px 20px 5px 0px;
	font-family: Apercu;
}
.text_title {
	padding: 10px;
	margin: 15px;
	font-weight: normal;
	font-family: Apercu;
}
p {
	line-height: 25px;
	font-family: Apercu;
}
.galery_info {
	font-weight: bold;
}
.gray {
	color: gray;
}
.text {
	display: table-cell;
	vertical-align: middle;
	padding-left: 60px;
	font-size: 16px;
	padding: 0px 60px 80px 60px;
	font-weight: bold;
}
.text_two {
	display: table-cell;
	vertical-align: middle;
	font-size: 14px;
	padding: 0px 60px 50px 0px;
	font-family: Apercu;
	font-weight: bold;

}
.picture {
	display: table-cell;
	vertical-align: middle;
	margin-right: 60px;
	padding: 0px 0px 100px 0px;
}
.picture_two{
	display: table-cell;
	vertical-align: middle;
	padding: 101px 50px 0px 100px;
}
.picture_three {
	display: table-cell;
	vertical-align: middle;
	margin-right: 60px;
	padding: 80px 20px 60px 60px;
}
.footer_block {
	height: 250px;
	width: auto;
	background: url("image/image_footer.jpg");
	background-size: cover;
	color: #fff;
}
.footer_menu {
	position: relative;
    top: 40px;
    left: 480px;
    text-align: center;
    display: inline-block;
}
.footer {
	margin-top: 20px;
	padding: 0px 80px;	
	color: gray;
}	
.info {
	font-size: 14px;
	position: relative;
	left: 210px;
	padding: 18px;
	display: inline-block;
	font-family: Apercu;
}
.gallery {
	margin: 30px;
	text-align: center;
}
.gallery_text {
	color: gray;
	font-size: 25px;
	margin: 20px;
	color: gray;
	font-family: Apercu;
}
.aery {
	float: right;
	
}