* {
	margin: 0;
	padding: 0;
}
body {
	font-family: sans-serif;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.popup {
	 width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
    display: none;	
}
.popup .form {
	width: 500px;
	max-height: auto;
	border: 1px solid gray;
	border-radius: 6px;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
    box-shadow: 0px 0px 10px #000;
    position: fixed;
	top: 20px;
	left: 420px;
}
.hide {
	position: absolute;
	right: 20px;
	text-decoration: none;
	color: blue;
	font-weight: bold;
}
.title_form{
	text-align: center;
	color: #88BCEF;
	font-weight: bold;
	color: black;
	padding: 20px;
}
.label {
	text-align: left;
	color: #88BCEF;
	line-height: 50px
}
.block {
	margin: 20px 0px;
}
.input, .city, textarea {
	width: 100%;
	border-radius: 2px;
	border: 1px solid lightgray;
	padding: 8px;
}	
.select_country, .sex, .textarea, .checkbox  {
	margin: 30px 0px 0px;
}
strong {
	color: #88BCEF;	
}
.password {
	min-width: 100%;
	border-radius: 2px;
	border: 1px solid lightgray;
	padding: 8px;
}
.halfsize {
	min-width: 50%;
	float:right;
	text-align: center;
	color: #88BCEF;
	margin: 20px 0px;
}
.halfinput {
	min-width: 100%;
	border-radius: 2px;
	border: 1px solid lightgray;
	padding: 8px;
}
.about {
	margin-top: 20px;
}
.register {
	width: 100%;
	border-radius: 2px;
	border: none;
	padding: 15px;
	background-color: #3ECACB;
	color: #fff;
	font-size: 16px;
	margin: 10px 0px 10px 0px;
}
.clear {
	width: 100%;
	border-radius: 2px;
	border: none;
	padding: 15px;
	background-color: #DDDDDD;
	color: #6F7B91;
	font-size: 16px;
}